PORT=3000
SESSION_SECRET=pon_un_secreto_largo

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=ecoturismo_db
DB_PORT=3306

# SMTP (para recuperación)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_app_password_gmail
SMTP_FROM="Ecoturismo - EL Canto Cipriano <tu_correo@gmail.com>"
